@charset "utf-8";
/*css初始化    css reset*/
html,body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,img{ margin:0;padding:0;}
fieldset,img,textarea,input{ border:0;}/*去掉边框*/
li{ list-style:none;}/*去掉列表样式*/
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
/*设置链接*/
a{ color:#fff; text-decoration:none;}
a:hover{ text-decoration:none;}
/*特殊声明*/
/* html{font-size: 62.5%;} */
body{ font-size:12px;/* font-size: 1.2rem; */ color:#fff; font-family: '宋体';}
.clearfix:after{ content:"."; clear:both; display:block; height:0; visibility:hidden;}
.clearfix{ zoom:1;}
