@charset "UTF-8";
.caret {
	display: inline-block;
	width: 0px;
	height: 0px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 8px dashed;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.btn .caret {
	margin-left: 10px;
}
.main_l{
	float:left;
	width:100%;
	background:url(../img/Singlefan/left_bg.png) 0 0 repeat-x;
	text-align: center;
}
.main_l .l1{
	position:relative;
}
.main_l .l1 span{
	width:100%;
	height:2px;
	background:url(../img/Singlefan/l1_bg.png) 0 0 no-repeat;
	position:absolute;
	top:40px;
	left:1px;
}
.main_r{
	float:right;
	width:87%;
	height:943px;
	padding-top:10px;
	padding-left:10px;
}
.main_r .mr_top{
	width: 100%;
	height:430px;
}
.mr_t1{
	width:550px;
	height:270px;
	float:left;
}
.jc{
	width:550px;
	height:270px;
	border:1px solid #08161f;
}
.injc{
	width:548px;
	height:268px;
	border:1px solid #226389;
}
.jc .in_l,.in_m,.in_r{
	float:left;
}
.jc .in_l,.in_r{
	width:88px;
}
.jc .in_m{
	margin-left:5px;
	margin-top:20px;
}
.in_l{
	margin-right:10px;
	padding-top: 10px;
	
}

.in_l li{
	cursor: pointer;
}

.in_r{
	margin-left:10px;
	padding-top: 10px;
}
.in_r li{
	line-height: 30px;
	width:80px;
	cursor: pointer;
}
.jc .in_l ul li{
	width:80px;
	text-align:right;
	line-height: 30px;
}


.butsing{
	width: 100px;height: 45px;
	background-color: #00BDD8;
	border-color: #14465F;
	border: 1px;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
}
.but1{
	width:68px;
	height:32px;
}
.btn:hover{
	color: #164967;
}

.table-bordered th,
  .table-bordered td {
    border: 1px solid #226286 !important;
    font-weight: 100;
    font-size: 14px;
  }

.main .main_r .mr_top .mr_t2 li{
	float:left;
	line-height: 53px;
	text-align: center;
	margin-left:15px;
	margin-top:10px;
}
.main .main_r .mr_top .mr_t2 .kz{
	width:169px;
	height:53px;
	background:url(../img/Singlefan/control1.png) 0 0 no-repeat;
	text-align: left;
	padding-left:10px;
	position:relative;
}
.main .main_r .mr_top .mr_t2 .kz span{
	position:absolute;
	width:21px;
	height:12px;
	background:url(../img/Singlefan/nabla.png) 0 0 no-repeat;
	right:15px;
	top:23px;
}
.main .main_r .mr_top .mr_t2 .tz{
	width:87px;
	height:53px;
	background:url(../img/Singlefan/stop_bg.png) 0 0 no-repeat;
}
.main .main_r .mr_top .mr_t2 .xgl{
	width:102px;
	height:53px;
	background:url(../img/Singlefan/limit_bg.png) 0 0 no-repeat;
}
.mr_t3{
	width:100%;
	float:left;
	border:1px solid #08161f;
}
.int3{
	width:100%;
	border:1px solid #226389;
}

.mr_mid{
	width: 100%;
	height:285px;
}
.mid_l{
	width: 100%;
	height:285px;
	border:1px solid #205a7b;
	float:left;
}
.inm{
	width: 474px;
	height:283px;
	border:1px solid #020e17;
	float:left;
}
.inm p{
	text-align: center;
	line-height: 32px;
	font-size:16px;
    color: #b2e1fe ;
    border-bottom:1px solid #08161f;

}

.inm .m1{
	width:118px;
	height:248px;
	float:left;
}
.inm .m1.0 dd,.m1.3 dd{
	text-align: left;
}
.mr_mid dl{
	color:#c2e7fe;
	font-size: 14px;
	font-weight: 400;
}
.mr_mid dl dt{
	line-height:30px;
	width:118px;
	border-bottom:1px solid #08161f;
	text-align: center;
	color:#c2e6fe;
}
.mr_mid dl dd{
	line-height:30px; 
	width:117px;
	color:#c2e6fe;
	
}
.mid_r{
	float:right;
	width:100%;
}
.mid_r p{
	float:left;
}
.mid_r ul{
	float:right;
	margin-top:70px;
}
.mid_r li{
	float:left;
}
.mid_r .yue{
	width:84px;
	height:33px;
	line-height:30px;
	padding-left:10px;
	position:relative;
	background:url(../img/Singlefan/curve_S.png) 0 0 no-repeat;
}
.mid_r .gl{
	width:103px;
	height:33px;
	line-height:30px;
	padding-left:10px;
	position:relative;
	background:url(../img/Singlefan/curve_B.png) 0 0 no-repeat;
}
.mid_r .yue1{
	width:11px;
	height:5px;
	position:absolute;
	right:10px;
	top:13px;
	background:url(../img/Singlefan/nabla1.png) 0 0 no-repeat;
}
.mid_r img{
	margin-top:110px;
}


.main .main_r .mr_bot{
	width: 100%;
	height:180px;
	margin-top:20px;
}

.mbot_l{
	width:100%;
	height:180px;
	border:1px solid #020e17;
	position:relative;
	margin-left:10px;
}
.inmbot_l{
	width:100%;
	height:178px;
	border:1px solid #205a7b;

}
.inmbot_l span{
	width:33px;
	height:114px;
	background:url(../img/Singlefan/real-fault_bg.png) 0 0 no-repeat;
	position:absolute;
	left:-30px;
	top:-1px;
	color:#b2e1fe;
	font-size:14px;
}
.mbot_l .l1{
	float:left;
	width:100%;
	height:180px;
	text-align: center;
}
.singleContent,.faultContent{
	width: 90%;
	float: right;
}
.singleContentL,.faultContentL{
	width: 97%;
	float: right;
}
 .z{
	display:block;
	width:85px;
	margin-left:11px;
    background:#0170A9 ;
	line-height:30px;
	 text-align:center;
	 font-size:12px;
	 border-radius:4px 4px 0px 0px;
}


.butsingss{
	background-color: #00BDD8;
	border-color: #14465F;
	border: 1px;
	color: #fff;
}
.w li a,.w .active a{
	float:left;
	width:85px;
	height:30px;
	text-align:center;
}
.wtname{
	background:#00f7ff;
	color:#2f3030;
}
.config{
	color:#00fff7;
	font-weight:700;
}

.inN_r ul li{
	width:94px;
	float:left;
	margin-top:12px;
	color: #C2E7FE;
}
.inN_r ul li:nth-child(1){
	width:120px;
}
.inN_r ul li p{
	text-align:center;
	line-height: 16px;
	color:#42FF00;
	font-weight: 700
}

.inN_r ul li p img{
	margin-top:-3px;
}

.ssfault30{
	width: 30%;float: left;text-align: center;line-height:30px;border-bottom:1px solid #020e17;
}
.ssfault70{
	width: 70%;float: left;text-align: center;line-height:30px;border-bottom:1px solid #020e17;border-left:1px solid #020e17;
}
.ssfault301{
	width: 30%;float: left;text-align: left;border-bottom:1px solid #020e17;
}
.ssfault701{
	width: 70%;float: left;text-align: left;border-bottom:1px solid #020e17;border-left:1px solid #020e17;
}

.scroller {
  padding: 0px;
  margin: 0px;
  padding-right: 12px;
  overflow: hidden;
}

.scroller-footer {
  margin-top: 10px;
}
.scroller-footer:before, .scroller-footer:after {
  content: " ";
  display: table;
}
.scroller-footer:after {
  clear: both;
}

.portlet-body .slimScrollBar {
  margin-right: 0px;
}



/***
Customized Bootstrap Tabs 
***/
/* Tabs and pills */
.nav-tabs,
.nav-pills {
  margin-bottom: 10px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  font-size: 14px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a > .badge,
.nav-pills > li > a > .badge {
  margin-top: -6px;
}
.nav-tabs > li .dropdown-menu:before, .nav-tabs > li .dropdown-menu:after,
.nav-pills > li .dropdown-menu:before,
.nav-pills > li .dropdown-menu:after {
  display: none;
}
.nav-tabs.nav-tabs-sm > li > a, .nav-tabs.nav-pills-sm > li > a,
.nav-pills.nav-tabs-sm > li > a,
.nav-pills.nav-pills-sm > li > a {
  font-size: 13px;
}
.nav-tabs .dropdown.open > .dropdown-toggle,
.nav-pills .dropdown.open > .dropdown-toggle {
  background: #eee;
  color: #0d638f;
  border-color: transparent;
}

/* Left and right tabs */
.tabs-right.nav-tabs,
.tabs-left.nav-tabs {
  border-bottom: 0;
}
.tabs-right.nav-tabs > li,
.tabs-left.nav-tabs > li {
  float: none;
}
.tabs-right.nav-tabs > li > a,
.tabs-left.nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}

/* Left tabs */
/* .tabs-left.nav-tabs {
  border-right: 1px solid #205A7B;
} */
.tabs-left.nav-tabs > li > a {
  display: block;
  margin-right: -1px;
}
.tabs-left.nav-tabs > li > a:hover, .tabs-left.nav-tabs > li > a:focus {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left.nav-tabs > li.active > a,
.tabs-left.nav-tabs > li.active > a:hover
> li.active > a:focus {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 4px 0px 0px;
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/* Right tabs */
/* .tabs-right.nav-tabs {
  border-left: 1px solid #ddd;
} */
.tabs-right.nav-tabs > li > a {
  display: block;
  margin-left: -1px;
}
.tabs-right.nav-tabs > li > a:hover, .tabs-right.nav-tabs > li > a:focus {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right.nav-tabs > li.active > a,
.tabs-right.nav-tabs > li.active > a:hover
> li.active > a:focus {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* Below tabs */
.tabs-below > .nav-tabs,
.tabs-below > .nav-pills {
  border-bottom: 0;
  margin-bottom: 0px;
  margin-top: 10px;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  margin-top: 10px;
}
.tabs-below > .nav-tabs > li > a {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > li > a .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.tabs-below > .nav-tabs .active a,
.tabs-below > .nav-tabs .active a:hover
.active a:focus {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-color: transparent #ddd #ddd #ddd  !important;
}

/***
Custom tabs
***/
/* In BS3.0.0 tabbable class was removed. We had to added it back */
.tabbable:before, .tabbable:after {
  content: " ";
  display: table;
}
.tabbable:after {
  clear: both;
}

.tabbable-custom {
  margin-bottom: 15px;
  padding: 0px;
  overflow: hidden;
  /* justified tabs */
  /* boxless tabs */
  /* below justified tabs */
  /* full width tabs */
  /* below tabs */
}
.tabbable-custom > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-custom > .nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}
.tabbable-custom > .nav-tabs > li > a {
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tabbable-custom > .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}
.tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #F3565D;
  margin-top: 0;
  position: relative;
}
.tabbable-custom > .nav-tabs > li.active > a {
  border-top: none !important;
  font-weight: 400;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tabbable-custom > .nav-tabs > li.active > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: none;
  background: #fff;
  border-color: #d4d4d4 #d4d4d4 transparent;
}
.tabbable-custom > .tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabbable-custom.nav-justified > .tab-content {
  margin-top: -1px;
}
.tabbable-custom.boxless > .tab-content {
  padding: 15px 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.tabbable-custom.tabs-below.nav-justified .tab-content {
  margin-top: 0px;
  margin-bottom: -2px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.tabbable-custom.tabbable-full-width > .nav-tabs > li > a {
  color: #424242;
  font-size: 15px;
  padding: 9px 15px;
}
.tabbable-custom.tabbable-full-width > .tab-content {
  padding: 15px 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.tabbable-custom.tabs-below .nav-tabs > li > a {
  border-top: none;
  border-bottom: 2px solid transparent;
  margin-top: -1px;
}
.tabbable-custom.tabs-below .nav-tabs > li.active {
  border-top: none;
  border-bottom: 3px solid #d12610;
  margin-bottom: 0;
  position: relative;
}
.tabbable-custom.tabs-below .nav-tabs > li.active > a {
  border-bottom: none;
}
.tabbable-custom.tabs-below .nav-tabs > li.active > a:hover {
  background: #fff;
  border-color: #d4d4d4 #d4d4d4 transparent;
}

.tabbable-custom.tabbable-noborder > .nav-tabs > li > a {
  border: 0;
}
.tabbable-custom.tabbable-noborder .tab-content {
  border: 0;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #F3565D;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #F3565D;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background: #0170A9;color: #fff;
}
.nav>li>a{
	padding:7px 10px;
}
.nav > li > a:focus, .nav > li > a:hover{
	background: #0074B1;
}
.nav-tabs.tabs-left > li.active > a, .nav-tabs.tabs-left > li.active > a:hover > li.active > a:focus{
	border-color: #245E82 transparent #245E82 #245E82;
}

.nav-tabs.tabs-left > li > a:hover, .nav-tabs.tabs-left > li > a:focus{
	border-color: #245E82 transparent #245E82 #245E82;
}
.wf-main{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.wf-main .wf-cld{
	position: absolute;
	padding:5px 8px;
	width: 33.33%;
	line-height:18px;
	border-radius: 4px;
	overflow: hidden;
}

.wf-main table thead tr:first-child th{
	background: transparent url("../img/Singlefan/p_bg.png") repeat-y scroll 0px 0px;
}

.wf-main table th{
	color: #C2E7FE;
}
.stops2{
	background: url(../img/Singlefan/s1.png) 0 0 no-repeat;
}

.stops{
	background: url(../img/Singlefan/r1.png) 0 5px no-repeat;
}

.rester{
	background: url(../img/Singlefan/d1.png) 0 0 no-repeat;
}

.tab-content thead th{
	color:#00FFF7;
}

.tab-content tbody td{
	color:#C2E6FE;
}

.tab-content select{
	color:#000;
}

.tab-content input{
	color:#000;
}

.tab-content th,.tab-content td,.tab-content label,.tab-content input,.tab-content a,#faultStatusList_info,#faultEventList_info{
	font-size: 10px;
}

#faultStatusList th,#faultEventList th:first-child{
	width:24%;
}
#faultStatusList th:nth-child(1),#faultStatusList th:nth-child(2){
	width:14%;
}

.single-input{
	width: 28%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
